# /etc/systemd/system/invidious.timer

[Unit]
Description=Lance Invidious toutes les heures

[Timer]
OnCalendar=daily

[Install]
WantedBy=timers.target
